<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TodoApp</title>
    <script type="importmap"></script>
    <base href="~/" />
    <link href="~/css/app.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/TodoApp.styles.css" asp-append-version="true" />
</head>
<body class="bg-white text-gray-800">
    <header>
        <nav class="bg-white border-b shadow mb-3 p-4">
            <div class="container mx-auto px-4 py-2 flex justify-between gap-4 items-center">
                <a class="text-xl font-semibold" asp-area="" asp-controller="Home" asp-action="Index">TodoApp</a>
                <button class="navbar-toggler p-2 rounded md:hidden" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse hidden md:flex flex-grow">
                    <ul class="flex space-x-4">
                        <li>
                            <a class="text-gray-600 hover:text-gray-900" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-900" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mx-auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-t text-muted">
        <div class="container mx-auto py-4 text-center">
            &copy; 2024 - TodoApp - <a class="text-gray-600 hover:text-gray-900" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
